{% extends 'base.html.twig' %}

{% block title %} Bistrot - Accueil
{% endblock %}

{% block body %}
    <div class='container mt-4'>
        <div class="card border-dark mb-3">
            <h1 class="card-header">Bienvenue au Bistrot</h1>
            <h4 class="card-title mt-4">Retrouvez toutes vos recettes préférées chez nous !</h4>
        </div>
    </div>
    
{% endblock %}
